.mainImg {
  display: block;
  max-width: 400px;
}
.heroNickname {
  font-size: 24px;
  font-weight: bold;
  /* Дополнительные стили по вашему выбору */
}

.mainImg {
  /* Дополнительные стили по вашему выбору */
}

.heroInfoItem {
  margin-bottom: 8px;
  /* Дополнительные стили по вашему выбору */
}

.catchPhrase {
  font-style: italic;
  /* Дополнительные стили по вашему выбору */
}
